*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto,sans-serif;
  //color: #0f111a;
}
html{
  font-size: 50%;
 @include respond(tab-land){
   font-size: 50%;
 }
  @include respond(tab-port){
    font-size: 56.25%;
  }
  @include respond(phone){
    font-size: 45%;
  }
  @include respond(bigScreen){
      font-size: 75%;
  }
}
body{
  position: relative;
  background-color:#090c10;
  //background-image: url("../assets/hero-img.svg");
  background-position: center;
  background-repeat: repeat;
  height: 100%;
  background-size: cover;
}