* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html {
  font-size: 50%;
}
@media screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 37.5em) {
  html {
    font-size: 45%;
  }
}
@media screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  position: relative;
  background-color: #090c10;
  background-position: center;
  background-repeat: repeat;
  height: 100%;
  background-size: cover;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  background-color: #090c10;
  padding: 1.5rem 5rem;
  font-size: 1.6rem;
  align-items: center;
}
.top-nav-list {
  display: flex;
  justify-content: space-between;
  flex: 0.4;
  list-style: none;
  transition: all 0.5s ease-out;
}
.top-nav-list--item {
  cursor: pointer;
}
.top-nav-list--item:hover .top-nav-list--item--link {
  color: #09a4f8;
  font-weight: bold;
}
.top-nav-list--item--link {
  z-index: 12;
  text-decoration: none;
  animation: 0.35s ease-out;
  color: #f7f7f7;
  transition: all 0.35s ease;
}
@media screen and (max-width: 56.25em) {
  .top-nav-list {
    background-color: #0f111a;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    z-index: 6;
    animation: slideFromLeft cubic-bezier(1, 0, 0, 1);
    align-items: baseline;
  }
  .top-nav-list--item {
    cursor: pointer;
    margin: 2rem 0;
    position: relative;
    padding: 2rem;
  }
  .top-nav-list--item::before {
    content: " ";
    height: 100%;
    width: 4px;
    position: absolute;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2), #0f111a);
    left: 0;
    top: 0;
    border-radius: 0;
    transform: scale(0);
    transition: width cubic-bezier(0.17, 0.67, 0.83, 0.67) 0.2s, transform 0.2s, border-radius cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
  .top-nav-list--item:hover:before {
    transform: scale(1);
    width: 100%;
    border-radius: 1.5rem;
  }
  .top-nav-list--item:hover .top-nav-list--item--link {
    font-weight: bold;
    color: #ece7e7;
  }
  .top-nav-list--item--link {
    color: white;
    font-size: 2.4rem;
    text-decoration: none;
    animation: 0.35s ease-out;
  }
}

.hero {
  position: relative;
  background-size: cover;
  background-position: center;
}
.hero-box {
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  display: flex;
  transform: translate(-50%, 50%);
}
@media screen and (max-width: 37.5em) {
  .hero-box {
    flex-direction: column;
    top: 10%;
    transform: translate(-50%, 0%);
    align-items: center;
  }
  .hero-box-textBox .btn-box {
    display: flex;
    justify-content: center;
  }
}
.hero-box--img {
  width: 20rem;
  margin-right: 4rem;
  border-radius: 200rem;
}
@media screen and (max-width: 37.5em) {
  .hero-box--img {
    margin-bottom: 2rem;
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0);
  }
}
.contact {
  padding: 4rem;
  background-color: #161b22;
  border-radius: 3rem;
  width: 40%;
  margin: 8rem auto;
}
@media screen and (max-width: 56.25em) {
  .contact {
    width: 70%;
  }
}
.contact-area {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
.contact-area .la-envelope, .contact-area .la-phone {
  font-size: 4rem;
}
.contact-area span {
  font-size: 1.875rem;
  color: #f7f7f7;
}

.my-stack-carousel {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cv-section {
  margin: 0 auto;
  width: 90%;
  padding: 5rem;
}

.projects-area {
  margin: 0 auto;
  width: 90%;
  padding: 5rem;
}

.project-view-imgs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project:not(.project:first-child) {
  margin: 15rem 0;
}

.stack-item {
  width: 20rem;
  height: 20rem;
  text-align: center;
  padding: 1rem;
  background-color: #161b22;
}
@media screen and (max-width: 56.25em) {
  .stack-item {
    margin: 1rem 0;
  }
}

.stack-item-2 {
  width: 40rem;
  height: 20rem;
  background-color: #161b22;
}
@media screen and (max-width: 56.25em) {
  .stack-item-2 {
    margin: 1rem 0;
  }
}

.stack-item-3 {
  width: 40rem;
  height: 40rem;
  background-color: #161b22;
}
@media screen and (max-width: 56.25em) {
  .stack-item-3 {
    margin: 1rem 0;
  }
}

.stack-img {
  width: 100%;
}

.stack-icon {
  font-size: 6rem;
  color: inherit;
  transition: all 0.35s ease;
}
.stack-icon:hover {
  transform: rotate(45deg);
}

.nodejs {
  color: #179f1b;
  animation: circleout ease 0.5s;
}

.animatedCircle {
  position: relative;
  width: 10rem;
  height: 10rem;
  left: 25%;
  margin-bottom: 2rem;
}
.animatedCircle, .animatedCircle::after {
  padding: 1.5rem;
  border-radius: 20rem;
  display: block;
  transition: all 0.8s ease;
}
.animatedCircle::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  border: 2px solid currentColor;
}
.animatedCircle:hover:hover::after, .animatedCircle:hover {
  opacity: 1;
  border: 2px solid currentColor;
}

.react {
  color: #109cfa;
  animation: circleout ease 0.5s;
}

.php {
  color: #245aff;
  animation: circleout ease 0.5s;
}

.vue {
  color: #22e59f;
  animation: circleout ease 0.5s;
}

.js {
  color: #e5ae22;
  animation: circleout ease 0.5s;
}

.twitter {
  fill: #09a4f8;
}
.twitter:hover {
  fill: #0e4394;
}

.git {
  fill: #ececec;
}
.git:hover {
  fill: #c6c0c0;
}

.linkedIn {
  fill: #459bf6;
}
.linkedIn:hover {
  fill: #1469e9;
}

.stack-icon-sm {
  size: 10rem;
  cursor: pointer;
  margin: 1rem 0;
}

.mg-v1 {
  margin: 1rem 0;
}

.mgT4 {
  margin-top: 4rem;
}

.mgT1 {
  margin-top: 1rem;
}

.mgR-1 {
  margin-right: 1rem;
}

.mg-v2 {
  margin: 2rem 0;
}

.mg-v4 {
  margin: 4rem 0;
}

.mg-b4 {
  margin-bottom: 4rem;
}

.mg-h2 {
  margin: 0 2rem;
}

.mg-l2 {
  margin-left: 2rem;
}

.bld {
  font-weight: bold;
}

.pd-v2 {
  padding: 2rem 0;
}

.list {
  margin-left: 2rem;
  padding: 1rem;
}
.list li {
  padding: 1rem;
  font-size: 1.8rem;
  color: #09a4f8;
}
.list li a {
  font-size: 1.8rem;
  color: #09a4f8;
}

.grey-box {
  background-color: #0f111a;
  display: inline-block;
  padding: 1rem;
  width: 50%;
  margin-top: 1rem;
}
@media screen and (max-width: 56.25em) {
  .grey-box {
    width: 100%;
  }
}

#menu {
  display: none;
}

#menu:checked ~ .top-nav-list {
  display: flex;
}

#menu:checked ~ .menu-box .menu {
  background-color: transparent;
}
#menu:checked ~ .menu-box .menu:after {
  transform: rotate(-45deg) translateY(-1.4rem);
  background-color: #f7f7f7;
}
#menu:checked ~ .menu-box .menu:before {
  transform: rotate(45deg) translateY(1.4rem);
  background-color: #f7f7f7;
}

#menu ~ .top-nav-list {
  display: flex;
}
@media screen and (max-width: 56.25em) {
  #menu ~ .top-nav-list {
    display: none;
  }
}

.logo-link {
  text-decoration: none;
}

.menu-box {
  border-radius: 1rem;
  padding: 2.2rem;
  position: fixed;
  cursor: pointer;
  display: none;
  z-index: 10;
}
@media screen and (max-width: 56.25em) {
  .menu-box {
    display: block;
    right: 1rem;
  }
}
.menu-box .menu, .menu-box .menu:before, .menu-box .menu:after {
  width: 3rem;
  height: 0.2rem;
  border-radius: 2rem;
  background-color: #3e3d3d;
  position: absolute;
  left: 0;
  transition: all 0.35s;
}
.menu-box .menu:before, .menu-box .menu:after {
  content: " ";
}
.menu-box .menu:before {
  top: -1rem;
}
.menu-box .menu:after {
  top: 1rem;
}

.top-logo {
  height: 4.8rem;
}

.project-img {
  flex: 1;
  width: 25%;
  padding: 2rem;
  margin: 0 2rem;
  height: 20rem;
  background-color: #161b22;
}
@media screen and (max-width: 56.25em) {
  .project-img {
    width: 100%;
    margin: 1rem;
  }
}

.project-img-box {
  display: flex;
}
@media screen and (max-width: 56.25em) {
  .project-img-box {
    flex-direction: column;
  }
}

.hero-H {
  font-size: 6rem;
}

h1, h2, h3, h4, h5, h6, p {
  color: #f7f7f7;
}

em {
  color: #09a4f8;
  background-color: #0f111a;
  padding: 0.2rem;
}

.hero-sub-H {
  font-size: 1.875rem;
}

.lg-h {
  font-size: 4.8rem;
}

.sm-p {
  font-size: 1.5rem;
}

.sm-h {
  font-size: 2rem;
  font-weight: normal;
}

.md-p {
  font-size: 3.2rem;
}

.paragraph {
  font-size: 2rem;
  word-wrap: break-spaces;
  width: 70%;
}
@media screen and (max-width: 37.5em) {
  .paragraph {
    width: 100%;
  }
}

.cv-h {
  font-size: 2rem;
  margin: 1rem 0;
}

.cv-p {
  font-size: 2rem;
  color: #6b6868;
}

.h1 {
  font-size: 7.2rem;
}

.h2 {
  font-size: 4.8rem;
}

.h3 {
  font-size: 3.6rem;
}

.h4 {
  font-size: 2.4rem;
}

.h5 {
  font-size: 1.8rem;
}

.h6 {
  font-size: 1.6rem;
}

.h7 {
  font-size: 1.4rem;
}

.floating-icon {
  color: white;
  font-size: 3rem;
}
.floating-icon:hover {
  color: #09a4f8;
}

.vertical-line {
  height: 14rem;
  width: 0.2rem;
  background-color: #262626;
}
@media screen and (max-width: 56.25em) {
  .vertical-line {
    height: 10rem;
  }
}
@media screen and (max-width: 37.5em) {
  .vertical-line {
    height: 0;
  }
}

.icons-social {
  position: fixed;
  bottom: 10%;
  left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 37.5em) {
  .icons-social {
    left: 0.5rem;
    bottom: 12%;
  }
}
.icons-social-links {
  margin-top: 3rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  padding: 4rem 2rem;
}

.overlay-contact {
  position: fixed;
  right: 2rem;
  display: flex;
  align-items: center;
  bottom: 10%;
}
@media screen and (max-width: 56.25em) {
  .overlay-contact {
    bottom: 2%;
  }
}
@media screen and (max-width: 37.5em) {
  .overlay-contact {
    background-color: #161b22;
    padding: 1rem;
  }
}
.overlay-contact p {
  font-size: 2rem;
}

.horizontal-line {
  margin-left: 4rem;
  width: 20rem;
  height: 0.2rem;
  background-color: #262626;
}
@media screen and (max-width: 56.25em) {
  .horizontal-line {
    width: 4rem;
  }
}

.mode {
  background-color: #3e3d3d;
  border-radius: 1rem;
  padding: 0.4rem 1.5rem;
  margin-left: 2rem;
}
.mode .la-sun {
  font-size: 3rem;
  color: #f7f7f7;
}

.btn, .btn:link {
  padding: 2rem 4rem;
  text-decoration: none;
  border-radius: 3rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  transition: background-color 0.35s cubic-bezier(1, 0, 0, 1);
}
.btn-link {
  background-color: #09a4f8;
  color: white;
}
.btn-link:hover, .btn-link:active {
  background-color: #1ea8f8;
}
.btn-project {
  background-color: #ffe226;
  color: #161b22;
}
.btn-project:hover, .btn-project:active {
  background-color: #efd310;
}

.btn-bordered, .btn-bordered:link {
  padding: 2rem 4rem;
  text-decoration: none;
  border-radius: 3rem;
  border: 1px solid currentColor;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  position: relative;
  transition: background-color 0.35s cubic-bezier(1, 0, 0, 1);
}
.btn-bordered-link {
  background-color: #09a4f8;
  color: #e7e7e7;
}
.btn-bordered-link:hover, .btn-bordered-link:active {
  background-color: #1ea8f8;
}
.btn-bordered-project {
  background-color: #ffe226;
  color: #161b22;
}
.btn-bordered-project:hover, .btn-bordered-project:active {
  background-color: #efd310;
}
.btn-bordered-blue {
  color: #09a4f8;
}
.btn-bordered-blue:hover, .btn-bordered-blue:active {
  color: #1ea8f8;
}

#Rectangle_35, #Rectangle_33, #Rectangle_34, #Rectangle_36, #Rectangle_37, #Rectangle_38, #Rectangle_39, #Rectangle_40, #Rectangle_41 {
  fill: #09a4f8;
  fill-rule: evenodd;
  animation: shake 3.5s linear infinite;
}

[id^=Rec] {
  background-color: red;
}
[id^=Rec]:hover {
  fill: red;
  background-color: red;
}

@keyframes shake {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
#one {
  fill: red;
}

/*# sourceMappingURL=source.css.map */
